<table>
    <tr>
      <td>
        <div class="form-group">
          <label for="exampleInputEmail1" style="display: inline-block; width: 200px;">Doctor ID</label>
          <select class="form-select" id="docid"style="width: 200px;" aria-label="Default select example" onchange="toggleenvtype()">
            <option selected>select doctor here to proceed</option>
            <% alldocs.map((doc) => { %>
              <option value="<%= doc.docid %>"><%= doc.docid %></option>
            <% }) %>
          </select>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <label for="exampleInputPassword1" style="display: inline-block; width: 200px;">Availability Dates</label>
          <select class="form-select" id="avdate" style="width: 200px;" onchange="populatetimeslots()" aria-label="Default select example" onchange="toggleenvtype()">
            <option selected>select date here to proceed</option>
          </select>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <label for="exampleInputEmail1" style="display: inline-block; width: 200px;">Available Time Slots</label>
          <select class="form-select" id="atimeslots" style="width: 200px;" aria-label="Default select example">
            <option selected>Available time slots</option>
          </select>
        </div>
      </td>
    </tr>
  </table>
  
  


<script>
      $(document).ready(function(){
    $('input.timepicker').timepicker({});
});
function toggleenvtype(){
     var docid = $('#docid').val();
     const requestOptions = {
         method: 'get',
       
        
     };
     var baseurl= "<%= base_url %>";
    var url= baseurl+"getdocbyid/"+docid;
     fetch(url, requestOptions)
     .then(response => response.json())
     .then(data => {
        if (data.status) {
      
            console.log("data",data)
            const timeslots = data.data.date;
        // Clear existing options
        $('#avdate').empty();

        // Populate options from timeslots array
        timeslots.forEach(slot => {
          $('#avdate').append(`<option value="${slot.date}">${slot.date}</option>`);
        });
      } else {
        alert(data.message);
      }
     })
    }

    function populatetimeslots(){
        var avdate=$('#avdate').val();
        var docid = $('#docid').val();
     const requestOptions = {
         method: 'get',
       
        
     };
     var baseurl= "<%= base_url %>";
    var url= baseurl+"getdocbyid/"+docid;
     fetch(url, requestOptions)
     .then(response => response.json())
     .then(data => {
        if (data.status) {
      
            console.log("data",data)
            const timeslots = data.data.date?.filter(e=>e.date==avdate)[0]["st"];
        // Clear existing options
        $('#atimeslots').empty();

        // Populate options from timeslots array
        timeslots.forEach(slot => {
          $('#atimeslots').append(`<option value="${slot}">${slot}</option>`);
        });
      } else {
        alert(data.message);
      }
     })
    }
    
</script>